# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
env/
venv/

# Data and local cache
data/*.json
data/*.jsonl
!.gitkeep

# Streamlit
.ui_cache/
.streamlit/

# OS
.DS_Store
Thumbs.db
.venv/
.venv/
