# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# VSCode
.vscode/

# Streamlit
.streamlit/

# Cache / build
*.log
*.sqlite3
*.db
*.csv
*.json
*.pkl
*.bin
*.gz
*.zip
*.tar

# OS
.DS_Store
Thumbs.db

# Environment files
.env